<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <title>Segurança informática</title>

    <script>
      if (window.location.search.split("=")[1]) {
        if (decodeURI(window.location.search.split("=")[0]) != "?json") {
          alert(decodeURI(window.location.search.split("=")[1]));
        }

        var jsonString = decodeURI(window.location.search.split("=")[1]);
        const jsonData = JSON.parse(jsonString);

        const keys = Object.keys(jsonData); // Array de chaves (índices)
        const numIndices = keys.length; // Número de índices

        // var listagemFicheiros = "ARQUIVOS ENVIADOS:\n\n"
        var encriptado;
        for (x = 0; x < numIndices; x++) {
          if (jsonData[x].encrypted == 0) {
            encriptado = "Não";
          } else {
            encriptado = "Sim";
          }
          // listagemFicheiros = listagemFicheiros + `ID: ${jsonData[x].id}  |  Nome: ${jsonData[x].nome}  |  Encriptado: ${encriptado}\n`
        }

        // alert(listagemFicheiros);

        // CRIAR TABELA DE FORMA DINAMICA
        document.addEventListener("DOMContentLoaded", function () {
          // Criação da div
          var div = document.createElement("div");

          // Criação da tabela
          var table = document.createElement("table");

          // Criação da linha
          var row = document.createElement("tr");
          // Criação das colunas e adição de conteúdo
          var col1 = document.createElement("td");
          var col2 = document.createElement("td");
          var col3 = document.createElement("td");
          col1.textContent = "ID";
          col2.textContent = "Nome";
          col3.textContent = "Cifrado";
          // Adição das colunas à linha
          row.appendChild(col1);
          row.appendChild(col2);
          row.appendChild(col3);
          table.appendChild(row);

          for (x = 0; x < numIndices; x++) {
            if (jsonData[x].encrypted == 0) {
              encriptado = "Não";
            } else {
              encriptado = "Sim";
            }

            // Criação da linha
            var row = document.createElement("tr");

            // Criação das colunas e adição de conteúdo
            var col1 = document.createElement("td");
            var col2 = document.createElement("td");
            var col3 = document.createElement("td");

            col1.classList.add("coluna-id");
            col2.classList.add("coluna");
            col3.classList.add("coluna");

            col1.textContent = jsonData[x].id;
            col2.textContent = jsonData[x].nome;
            col3.textContent = encriptado;

            // Adição das colunas à linha
            row.appendChild(col1);
            row.appendChild(col2);
            row.appendChild(col3);

            // Adição da linha à tabela
            table.appendChild(row);
          }

          // Adição da tabela à div
          div.appendChild(table);

          // Adição da div ao elemento do documento
          var container = document.getElementById("myContainer");
          container.appendChild(div);
        });
      }

      function listagem() {
        // CRIAR TABELA DE FORMA DINAMICA
        document.addEventListener("DOMContentLoaded", function () {
          // Criação da div
          var div = document.createElement("div");

          // Criação da tabela
          var table = document.createElement("table");

          for (x = 0; x < 10; ++x) {
            // Criação da linha
            var row = document.createElement("tr");

            // Criação das colunas e adição de conteúdo
            var col1 = document.createElement("td");
            var col2 = document.createElement("td");
            var col3 = document.createElement("td");

            col1.textContent = "Coluna 1 da linha " + x;
            col2.textContent = "Coluna 2 da linha " + x;
            col3.textContent = "Coluna 3 da linha " + x;

            // Adição das colunas à linha
            row.appendChild(col1);
            row.appendChild(col2);
            row.appendChild(col3);

            // Adição da linha à tabela
            table.appendChild(row);
          }

          // Adição da tabela à div
          div.appendChild(table);

          // Adição da div ao elemento do documento
          var container = document.getElementById("myContainer");
          container.appendChild(div);
        });
      }
    </script>

    <style>
      h1 {
        text-align: center;
        margin: 40px 40px 0 40px;
      }

      h6 {
        text-align: center;
        margin-bottom: 40px;
      }

      .card-header button {
        color: black !important;
      }

      .card {
        border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
      }

      .resultQueryNome {
        max-height: 400px;
        overflow: scroll;
        overflow-x: hidden;
      }

      h6.url {
        color: #575757;
        font-size: 0.8em;
        position: fixed;
        bottom: 10px;
        left: 10px;
      }

      .coluna {
        min-width: 150px;
      }

      .coluna-id {
        min-width: 40px;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <h1>TWO-HEADED-BEAST</h1>
      <h6>Trabalho de Segurança Informática</h6>

      <!-- INICIO DO COLLAPSE BOOTSTRAP -->
      <div class="accordion mb-4" id="accordionExample">
        <!-- OPÇAO 1 -->
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button
                class="btn btn-link"
                type="button"
                data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
                id="genKeys"
              >
                Gerar conjunto de chaves
              </button>
            </h5>
          </div>
          <div
            id="collapseOne"
            class="collapse show"
            aria-labelledby="headingOne"
            data-parent="#accordionExample"
          >
            <!-- INICIO DO FORMULARIO -->
            <form class="form-inline" method="POST" action="/generate">
              <div class="form-group mt-4 ml-4 mb-4">
                <label for="token">Token: </label>
                <input
                  id="token"
                  class="form-control mx-sm-3"
                  placeholder="ABC1234"
                  name="token"
                  required
                />
                <button
                  type="submit"
                  name="inputFormulario"
                  value="enviado"
                  class="btn btn-info"
                >
                  Criar conta e gerar chaves
                </button>
              </div>
            </form>
          </div>
        </div>
        <!-- FIM OPCAO 1 -->

        <!-- INICIO OPCAO 2 -->
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button
                class="btn btn-link collapsed"
                type="button"
                data-toggle="collapse"
                data-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                Enviar ficheiro
              </button>
            </h5>
          </div>
          <div
            id="collapseTwo"
            class="collapse resultQueryNome shadow-sm rounded"
            aria-labelledby="headingTwo"
            data-parent="#accordionExample"
          >
            <div class="card-body">
              <!-- INICIO DO FORMULARIO -->
              <form
                method="post"
                action="/upload"
                enctype="multipart/form-data"
              >
                <div class="form-group row">
                  <label for="enviar_para" class="col-sm-2 col-form-label"
                    >Enviar para:</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control"
                      id="enviar_para"
                      placeholder="Token do destinatário"
                      required
                      name="token_dest"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="ficheiro" class="col-sm-2 col-form-label"
                    >Selecionar ficheiro:</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="file"
                      class="form-control-file"
                      id="ficheiro"
                      name="ficheiro"
                      required
                    />
                  </div>
                </div>
                <fieldset class="form-group">
                  <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">
                      Enviar ficheiro cifrado
                    </legend>
                    <div class="col-sm-10">
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="cifrado"
                          id="gridRadios1"
                          value="sim"
                          checked
                        />
                        <label class="form-check-label" for="gridRadios1">
                          Sim
                        </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="cifrado"
                          id="gridRadios2"
                          value="nao"
                        />
                        <label class="form-check-label" for="gridRadios2">
                          Não
                        </label>
                      </div>
                    </div>

                    <legend class="col-form-label col-sm-2 pt-0 mt-4">
                      Comprimir ficheiro
                    </legend>
                    <div class="col-sm-10">
                      <div class="form-check mt-4">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="comprimir"
                          id="gridRadios1"
                          value="sim"
                          checked
                        />
                        <label class="form-check-label" for="gridRadios1">
                          Sim
                        </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="comprimir"
                          id="gridRadios2"
                          value="nao"
                        />
                        <label class="form-check-label" for="gridRadios2">
                          Não
                        </label>
                      </div>
                    </div>
                  </div>
                </fieldset>
                <div class="form-group row">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-info pl-4 pr-4">
                      Enviar
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- FIM OPCAO 2 -->

        <!-- INICIO OPCAO 3 -->
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button
                class="btn btn-link collapsed"
                type="button"
                data-toggle="collapse"
                data-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                Receber ficheiro
              </button>
            </h5>
          </div>
          <div
            id="collapseThree"
            class="collapse resultQueryNome shadow-sm rounded"
            aria-labelledby="headingThree"
            data-parent="#accordionExample"
          >
            <div class="card-body">
              <form id="formList" method="post" action="/listagem">
                <div class="form-group row">
                  <label for="enviar_para" class="col-sm-2 col-form-label"
                    >Digite seu token:</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control"
                      required
                      name="token"
                      placeholder="Digite aqui o seu token para listar os ficheiro associados à ele"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-info pl-4 pr-4">
                      Listar ficheiros
                    </button>
                  </div>
                </div>
              </form>

              <hr />

              <!-- listagem dos ficheiros da base de dados -->
              <div id="myContainer"></div>

              <hr />

              <form
                method="post"
                action="/download"
                enctype="multipart/form-data"
              >
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label"
                    >Digite o id do ficheiro:</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control"
                      name="id"
                      required
                      placeholder="Digite aqui o id do ficheiro para fazer o download"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="ficheiro" class="col-sm-2 col-form-label"
                    >Importar chave privada:</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="file"
                      class="form-control-file"
                      id="ficheiro"
                      name="privateKeyFile"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-info pl-4 pr-4">
                      Decifrar e descarregar
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- FIM OPCAO 3 -->

        <!-- INICIO OPCAO 4 -->
        <div class="card">
          <div class="card-header" id="headingFour">
            <h5 class="mb-0">
              <button
                class="btn btn-link collapsed"
                type="button"
                data-toggle="collapse"
                data-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
              >
                Menu Help
              </button>
            </h5>
          </div>
          <div
            id="collapseFour"
            class="collapse resultQueryNome shadow-sm rounded"
            aria-labelledby="headingFour"
            data-parent="#accordionExample"
          >
            <div class="card-body">
              <div class="col-sm-10">
                <!-- Botao descarregar ficheiro -->
                <button
                  type="submit"
                  class="btn btn-info pl-4 pr-4"
                  onclick="window.location.href='/download-menu'"
                >
                  Descarregar
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- FIM OPCAO 4 -->
      </div>
    </div>

    <!-- Scripts -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
